img {
    width: 50%;
    height: 50%;
    float: center;
}
.planets, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    padding: 10px;
}

th {
    border: 1px solid;
    padding: 10px;
}