img {
    width: 50%;
    height: 50%;
    float: center;
}
.planets, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    text-align: center;
}
th {
    float: left;
    border: 1px solid;
    text-align: center;
}